@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border: 1px solid #8080802f;
}
.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #0000;
    /* border-right-color: #766df497; */
    position: relative;
    animation: s4 1s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}
.custom-loader:after {
    animation-duration: 4s;
}

@keyframes s4 {
    100% {
        transform: rotate(1turn);
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 346.8 77.2% 49.8%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 346.8 77.2% 49.8%;
    }

    .orange {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 24.6 95% 53.1%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 0.5rem;
    }

    .blue {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;
    }

    .green {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 142.1 76.2% 36.3%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 142.1 76.2% 36.3%;
        --radius: 0.5rem;
    }

    .yellow {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;
        --radius: 0.5rem;
    }

    .violet {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 262.1 83.3% 57.8%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.5rem;
    }

    .h1 {
        @apply text-[41px] leading-tight md:text-[48px] md:leading-[1.3] mb-4 font-bold;
    }

    .h2 {
        @apply text-[33px] leading-tight md:text-[46px] md:leading-[1.3] mb-4 font-bold;
    }

    .h3 {
        @apply text-[29px] leading-tight md:text-[36px] md:leading-[1.3] mb-4 font-semibold;
    }

    p {
        @apply leading-[1.3] text-[15px] text-muted-foreground;
    }
    .badge {
        @apply z-10 p-3 max-w-[211px] bg-white dark:backdrop-blur-[44px] shadow-2xl rounded-xl flexCenter gap-x-4;
    }
}

@layer utilities {
    .max-container {
        @apply mx-auto max-w-[1440px];
    }

    .padding-container {
        @apply px-6 lg:px-14 3xl:px-0;
    }

    .max-padd-container {
        @apply mx-auto max-w-[1440px] px-6 lg:px-20;
    }

    .flexCenter {
        @apply flex items-center justify-center;
    }

    .flexBetween {
        @apply flex items-center justify-between;
    }

    .flexStart {
        @apply flex items-center justify-start;
    }

    .flexEnd {
        @apply flex items-center justify-end;
    }

    /* FONTS */
    .regular-64 {
        @apply text-[64px] font-[400] leading-[120%];
    }

    .regular-52 {
        @apply text-[52px] font-[400] leading-[120%];
    }

    .regular-48 {
        @apply text-[48px] font-[400] leading-[120%];
    }

    .regular-40 {
        @apply text-[40px] font-[400] leading-[120%];
    }

    .regular-32 {
        @apply text-[32px] font-[400];
    }

    .regular-28 {
        @apply text-[28px] font-[400];
    }

    .regular-24 {
        @apply text-[24px] font-[400];
    }

    .regular-22 {
        @apply text-[22px] font-[400];
    }

    .regular-20 {
        @apply text-[20px] font-[400];
    }

    .regular-18 {
        @apply text-[18px] font-[400];
    }

    .regular-16 {
        @apply text-[16px] font-[400];
    }

    .regular-15 {
        @apply text-[15px] font-[400];
    }

    .regular-14 {
        @apply text-[14px] font-[400];
    }

    .medium-64 {
        @apply text-[64px] font-[500] leading-[120%];
    }

    .medium-52 {
        @apply text-[52px] font-[500] leading-[120%];
    }

    .medium-48 {
        @apply text-[48px] font-[500] leading-[120%];
    }

    .medium-40 {
        @apply text-[40px] font-[500] leading-[120%];
    }

    .medium-36 {
        @apply text-[36px] font-[500];
    }

    .medium-32 {
        @apply text-[32px] font-[500];
    }

    .medium-28 {
        @apply text-[28px] font-[500];
    }

    .medium-24 {
        @apply text-[24px] font-[600];
    }

    .medium-22 {
        @apply text-[22px] font-[600];
    }

    .medium-20 {
        @apply text-[20px] font-[600];
    }

    .medium-18 {
        @apply text-[18px] font-[600];
    }

    .medium-16 {
        @apply text-[16px] font-[500];
    }

    .medium-15 {
        @apply text-[15px] font-[500];
    }

    .medium-14 {
        @apply text-[14px] font-[500];
    }

    .bold-88 {
        @apply text-[88px] font-[700] leading-[120%];
    }

    .bold-64 {
        @apply text-[64px] font-[700] leading-[120%];
    }

    .bold-52 {
        @apply text-[52px] font-[700] leading-[120%];
    }

    .bold-48 {
        @apply text-[48px] font-[700] leading-[120%];
    }

    .bold-44 {
        @apply text-[44px] font-[700] leading-[120%];
    }

    .bold-40 {
        @apply text-[40px] font-[700] leading-[120%];
    }

    .bold-36 {
        @apply text-[36px] font-[700] leading-[120%];
    }

    .bold-32 {
        @apply text-[32px] font-[700] leading-[120%];
    }

    .bold-28 {
        @apply text-[28px] font-[700] leading-[120%];
    }

    .bold-24 {
        @apply text-[24px] font-[700] leading-[120%];
    }

    .bold-22 {
        @apply text-[22px] font-[700];
    }

    .bold-20 {
        @apply text-[20px] font-[700];
    }

    .bold-18 {
        @apply text-[18px] font-[700];
    }

    .bold-16 {
        @apply text-[16px] font-[700];
    }

    .bold-15 {
        @apply text-[15px] font-[700];
    }
}
